.state-messages{ position: relative; }
.add-embed-responsive pre:last-child{
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: none;
}
#main-content{
    background-color: #000000;
    background-image: url(/tappedout/selvala-explorer-returned/selvala-sitting-portrait.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}
.well-jumbotron,
.well{
    /* -moz-box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
    background-color: rgba(0,0,0,0.3); */
    background-image: none;
    border: 0;
    background-color: transparent;
}
#body:before{
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    position: absolute;
    opacity: 0.7;
    pointer-events: none;
}
.panel.panel-default{
    background: transparent;
    border-color: #000000;
}
.panel-default > .panel-heading .panel-title{
    background-color: rgba(0,0,0,0.5);
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
/* .panel-default > .panel-heading{
    transition: all 0.3s linear;
}
.panel-default > .panel-heading:hover{
    transform: scale(1.2);
} */
.panel-default > .panel-heading{
    padding: 0;
}
.panel-default > .panel-heading a{
    /* content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-color: rgba(0,0,0,0.5);
}
.panel-heading .panel-title{
    overflow: hidden;
}
.panel-heading .panel-title:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s linear;
}
.panel-heading:hover .panel-title:before{
    transform: scale(1.2);
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{
    border: 0;
    background-color: rgba(51, 51, 51, 0.5);
}


/***** Accordion Banners *****/
.add-embed-responsive pre{
    border: 0;
    padding: 0 !important;
    height: 200px;
}
.add-embed-responsive pre img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.panel-title a{
    padding: 50px;
    display: block;
    position: relative;
    font-size: 2rem;
    text-align: center;
}
/* Why play this Commander? */
#heading-9PR2V6-1 .panel-title{
    background-image: url(https://boliver5463.github.io/tappedout/selvala-explorer-returned/selvala-banner.jpg);
    background-position: center 20%;
}



/***** Global *****/
h1, h2, h3, h4, h4 small {
    /* color: #f5f5f5; */
    color: #db560a;
}
a.card-link.card-hover,
a.card-link.card-hover sup,
#body .well a:not(.btn),
.panel-title > a{
    /* color: #00ff6c; */
    /* color: f5f5f5; */
    color: #daa520 !important;
}
text.highcharts-title{
    fill: #db560a !important;
}
hr{
    border-color: #db560a !important;
}