#main-content{
    background-color: red;
    background-image: url(/tappedout/selvala-explorer-returned/selvala-sitting-portrait.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}