.state-messages{ position: relative; }
.add-embed-responsive pre{
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#main-content{
    background-color: #000000;
    background-image: url(/tappedout/selvala-explorer-returned/selvala-sitting-portrait.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}
.well-jumbotron,
.well{
    /* -moz-box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
    background-color: rgba(0,0,0,0.3); */
    background-image: none;
    border: 0;
    background-color: transparent;
}
#body:before{
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    position: absolute;
    opacity: 0.7;
    pointer-events: none;
}
.panel.panel-default{
    background: transparent;
    border-color: #000000;
}
.panel-default > .panel-heading{
    background-color: rgba(0,0,0,0.5);
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{
    border: 0;
    background-color: rgba(51, 51, 51, 0.5);
}





h1, h2, h3, h4, h4 small {
    /* color: #f5f5f5; */
    color: #db560a;
}
a.card-link.card-hover,
a.card-link.card-hover sup,
.panel-title > a{
    /* color: #00ff6c; */
    /* color: f5f5f5; */
    color: #daa520 !important;
}